<script>$(document).ready(function(){$('.fixed-action-btn').floatingActionButton();});</script>
<div class="fixed-action-btn">
	<a class="btn-floating btn-large red verde oscuro-3"><i class="fa fa-cog"></i></a>
	<ul>
		<li><a class="btn-floating verde oscuro-1" href="https://api.whatsapp.com/send?phone=529613217423&text=%20" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
		<li><a class="btn-floating azul oscuro-3" href="https://www.facebook.com/ecosdelatierraacorg" target="_blank"><i class="fa fa-facebook"></i></a></li>
		<li><a class="btn-floating cian" href="https://twitter.com/ecos_ac" target="_blank"><i class="fa fa-twitter"></i></a></li>
		<li><a class="btn-floating cafe" href="https://www.instagram.com/ecosdelatierraac/" target="_blank"><i class="fa fa-instagram"></i></a></li>
		<li><a class="btn-floating rojo oscuro-1" href="https://www.youtube.com/channel/UCUlB0i_5i5VU16TJzwErJoQ" target="_blank"><i class="fa fa-youtube"></i></a></li>
		<li><a class="btn-floating verde oscuro-2" href="tel:+529616903336" onclick="M.toast({html: '+529616903336'})" target="_blank"><i class="fa fa-phone"></i></a></li>
	</ul>
</div>