	<nav class="verde">
		<div class="nav-wrapper">
			<a href="{{ site.baseurl }}" class="brand-logo display-desktop">Ecos de la Tierra A.C.</a>
			<a href="{{ site.baseurl }}" class="brand-logo display-tablet">Ecos de la Tierra A.C.</a>
			<a href="{{ site.baseurl }}" class="brand-logo display-movil">Ecos A.C.</a>
			<a href="#" data-target="mobile-demo" class="sidenav-trigger waves-effect"><i class="fa fa-bars"></i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="{{ site.baseurl }}">Inicio</a></li>
				<li><a href="{{ site.baseurl }}/equipo">Equipo</a></li>
				<li><a href="{{ site.baseurl }}/proyectos">Proyectos</a></li>
				<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
				<li><a href="https://www.youtube.com/channel/UCUlB0i_5i5VU16TJzwErJoQ">Videos</a></li>
				<li><a href="{{ site.baseurl }}/aviso-privacidad">Privacidad</a></li>
			</ul>
		</div>
	</nav>
	<script>$(document).ready(function(){$('.sidenav').sidenav();});</script>
	<ul class="sidenav verde claro-1" id="mobile-demo">
		<li><a href="{{ site.baseurl }}" class="waves-effect">Inicio</a></li>
		<li><a href="{{ site.baseurl }}/equipo" class="waves-effect">Equipo</a></li>
		<li><a href="{{ site.baseurl }}/proyectos" class="waves-effect">Proyectos</a></li>
		<li><a href="{{ site.baseurl }}/blog" class="waves-effect">Blog</a></li>
		<li><a href="https://www.youtube.com/channel/UCUlB0i_5i5VU16TJzwErJoQ" class="waves-effect">Videos</a></li>
		<li><a href="{{ site.baseurl }}/aviso-privacidad" class="waves-effect">Privacidad</a></li>
	</ul>