	<head>
		<title>{{ page.title }} • Ecos de La Tierra A.C.</title>
		<!-- META -->
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0"/>
		<meta name="description" content="{{ page.descripcion }}"/>
		<meta name="theme-color" content="#4CAF50"/>
		<meta name="robots" content="index, follow"/>
		<meta name="Googlebot" content="index, follow"/>
		<meta name="author" content="{{ site.ecosred }}"/>
		<meta name="keywords" content="ecosdelatierra, proyectos, naturaleza"/>
		<meta name="copyright" content="Ecos de la Tierra Proyectos Productivos y Medio Ambiente A.C."/>
		<meta name="revisit-after" content="1 day"/>
		<meta charset="UTF-8"/>
		<!-- ICONS REL -->
		<link rel="canonical" href="{{ page.permalink }}"/>
		<link rel="icon" href="{{ site
baseurl }}/assets/imagenes/logo1.png" type="image/png"/>
		<link rel="shortcut icon" href="{{ site.baseurl }}/assets/imagenes/logo1.png" type="image/png"/>
		<link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/imagenes/logo1.png" type="image/png"/>
		<!-- STYLESHEET -->
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ecosdelatierra.css"/>
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<!-- SCRIPTS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="js/jquery.slides.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
	</head>