<div class="container">
	<div class="row">
		<div class="col s12 m12 l12">
			<script>
			// Slider
			$(function(){
			$("#slides").slidesjs({
				width: 1000,
				height: 333,
				play: {
						active: true,
						auto: true,
						interval: 6000,
						swap: true,
  	   		   }
				});
			});
			</script>
			<div class="card">
				<div id="slides">
					<img src="{{ site.baseurl }}/assets/imagenes/slider/1.jpg">
					<img src="{{ site.baseurl }}/assets/imagenes/slider/2.jpg">
					<img src="{{ site.baseurl }}/assets/imagenes/slider/3.jpg">
					<img src="{{ site.baseurl }}/assets/imagenes/slider/4.jpg">
					<img src="{{ site.baseurl }}/assets/imagenes/slider/5.jpg">
					<img src="{{ site.baseurl }}/assets/imagenes/slider/6.jpg">
					<img src="{{ site.baseurl }}/assets/imagenes/slider/7.jpg">
					<img src="{{ site.baseurl }}/assets/imagenes/slider/8.jpg">
					<img src="{{ site.baseurl }}/assets/imagenes/slider/9.jpg">
					<img src="{{ site.baseurl }}/assets/imagenes/slider/10.jpg">
				</div>
			</div>
		</div>
	</div>
</div>