<footer class="page-footer verde oscuro-2 blanco-texto">
	<div class="container">
		<div class="row">
			<div class="col s12 m6 l6">
				<h3>Ecos de la Tierra A.C.</h3>
				<p align="justify">Ecos de la Tierra Proyectos Productivos y Medio Ambiente, es una Asociación Civil sin fines de lucro, que promueve y apoya iniciativas que ayuden a aumentar la productividad, el bienestar social y económico en las zonas rurales y urbanas en el estado de Chiapas, mediante la promoción, gestión, elaboración y puesta en marcha de proyectos productivos; bajo el enfoque de conservación, uso y aprovechamiento racional de los recursos naturales; así como el fomento y rescate de los grupos étnicos, generando y fortaleciendo las capacidades con perspectiva de equidad de género.</p>
			</div>
			<div class="col s12 m6 l6">
				<h3>Oficina
					<a class="btn waves-effect waves-light verde blanco-texto right display-movil display-tablet display-desktop" href="https://goo.gl/maps/kfSaSy8aqAN2">GMaps</a>
					<a class="btn waves-effect waves-light verde blanco-texto right display-tablet display-desktop" onclick="M.toast({html: '5a Norte Oriente #261_2o piso. Barrio San Jacinto, Colonia Centro. (Entre 1a y 2a oriente, edificio blanco a lado de Ferretería Mandiola).'})">Dirección</a>
					<a class="right btn waves-effect waves-light verde blanco-texto display-desktop" href="https://goo.gl/maps/kfSaSy8aqAN2">Horario</a>
				</h3>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3820.3779828209786!2d-93.11590868513237!3d16.75785998845871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTbCsDQ1JzI4LjMiTiA5M8KwMDYnNDkuNCJX!5e0!3m2!1ses!2sus!4v1539704824225" frameborder="1" style="border:0; border-radius:.5em; height:10em;" width="100%" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<div class="footer-copyright verde oscuro-4 blanco-texto">
		<div class="container">
			&copy; 2018 | Ecos de la Tierra Proyectos Productivos y Medio Ambiente A.C.
			<a class="blanco-texto right">Creado con el <i class="fa fa-heart rojo-texto oscuro-1"></i></a>
		</div>
	</div>
</footer>