@import url('https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css');
@import url('https://junglecss.github.io/JungleCSS/es/css/jungle.css');
* {
	box-sizing:border-box;
}
/* SlidesJS Estilos */
.slidesjs-play,
.slidesjs-stop,
.slidesjs-pagination li a {
	visibility:invisible !important;
	display:none !important;
}
.slidesjs-previous,
.slidesjs-next {
	background:#388E3C;
	border-radius:20%;
	text-decoration:none;
	padding:.5em 1em;
	color:#FFFFFF;
	float:left !important;
	margin-right:.5em;
	margin-top:.5em;
}
#slides {
	padding:1em;
}
#slides img {
	width:100%;
}
/* CSS */
@media only screen and (max-width:992px) {
	.display-all {
		display:block !important;
	}
	.display-tablet-movil {
		display:block !important;
	}
	.display-desktop-tablet {
		display:none !important;
	}
}
@media only screen and (min-width:601px) {
	.display-all {
		display:block !important;
	}
	.display-tablet-movil {
		display:none !important;
	}
	.display-desktop-tablet {
		display:block !important;
	}
}
@media only screen and (min-width:993px) {
	.display-desktop {
		display:block !important;
	}
	.display-tablet {
		display:none !important;
	}
	.display-movil {
		display:none !important;
	}
}
@media only screen and (max-width:992px) {
	.display-desktop {
		display:none !important;
	}
	.display-tablet {
		display:block !important;
	}
	.display-movil {
		display:none !important;
	}
}
@media only screen and (max-width:600px) {
	.display-desktop {
		display:none !important;
	}
	.display-tablet {
		display:none !important;
	}
	.display-movil {
		display:block !important;
	}
}

/* CSS 2 */
@media only screen and (max-width:600px) {
	.post-ec .post-ec-img {
		width:100%;
		float:left;
	}
}
@media only screen and (max-width:992px) {
	.post-ec .post-ec-img {
		width:40%;
		float:left;
	}
}
@media only screen and (min-width:993px) {
	.post-ec .post-ec-img {
		width:25%;
		float:left;
	}
}